    @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

    /* * {
        background-color:burlywood;
    } */

    #Thumbnail-container {
          border-radius: 10px;
          height: 30px;
          width: auto;
    }
    /* ^Doesn't do anything (crying emoji) */